:root{
    --background: #fec7d7;
    --headline: #33272a;
    --text: #594a4e;
    accent-color: #ff8ba7;
    --button: #33272a;
    --button-text: #faeee7;
    --primary:#d9d4e7;
    --secondary:#ff8baf;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
    background-color: var(--headline);
    color: var(--button-text);
}

.icons {
    display: flex;
    column-gap: 20px;
}

.icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
}


.icon--instagram:hover {
    background-color: #ff8baf;
    outline-color: #a02d76;
}

.icon--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}

.icon--whatsapp:hover {
    background-color: #108f05;
    outline-color: #0a8f3d;
}

.icon--github:hover {
    background-color: #343d37;
    outline-color: #201f1f;
}