@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;700;900&display=swap');
:root {
    --background: #fec7d7;
    --headline: #33272a;
    --text: #594a4e;
    accent-color: #ff8ba7;
    --button: #33272a;
    --button-text: #faeee7;
    --primary: #d9d4e7;
    --secondary: #a786df;
}

h1 h2 h3 {
    color: var(--headline);
}

p {
    color: var(--text);
}

* {
    font-family: 'google sans';
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to right, #DD5E89, #f7bb97);
}

.main {
    display: flex;
    justify-content: center;
    padding: 130px 0 130px 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap
}

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary);
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    margin: 10px;
    padding: 50px;
}

.main-content h3 {
    margin: -10px 0 10px 0;
}

#images {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 30vw;
    height: 55vmin;
    margin: 20px;
    transform: translateX(30px);
}

#images img {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    height: 100%;
    flex: 5;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
    border: #33272a solid;
}

#images img:hover {
    flex: 50;
}

#image-desc {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.5rem;
}

.reservation-btn {
    display: flex;
    justify-content: center;
}

.reserve {
    background-color: var(--button);
    color: var(--button-text);
    padding: 10px 200px 10px 200px;
    border-radius: 25px;
    margin: 20px 0px -50px 0px;
    cursor: pointer;
    font-size: 1rem;
}

.angkringan {
    background-color: var(--button);
    color: var(--button-text);
    padding: 10px 200px 10px 200px;
    border-radius: 25px;
    margin: 20px 0px -50px 0px;
    cursor: pointer;
    font-size: 1rem;
}

.angkringan:hover {
    filter: invert();
    transition: 0.2s all;
}

.angkringan:active {
    filter: grayscale();
}

.reserve:hover {
    filter: invert();
    transition: 0.2s all;
}

.reserve:active {
    filter: grayscale();
}

/*form*/
#popup-content {
    transform: translateX(-10px);
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    background-color: var(--primary);
    border-radius: 25px;
    border: #33272a solid;
}

.form-content>* {       
    margin: 10px 10px 10px;
    font-size: 1.3rem;
}

input {
    border-radius: 25px;
}

select {
    border-radius: 25px;
}

#reserve-date {
    display: flex;
    justify-content: flex-start;
}

#popup {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    transform: translateY(50px);
    display: none;
    justify-content: center;
    align-items: center;
}
#backbtn {
    display: flex;
    justify-content: center;
}
#backbtn button:hover{
    cursor: pointer;
}

#backbtn button {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    background-color: var(--primary);
    border: #33272a solid;
    width: 40px;
    transform: translateX(-10px);
}
#submit-btn {
    background-color: var(--button);
    color: var(--button-text);
    padding: 10px 100px 10px 100px;
    border-radius: 25px;
    margin: 20px 0px -50px 0px;
    cursor: pointer;
}

/*thankyou*/
#thankyou {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    transform: translateY(50px);
    display: none;
    justify-content: center;
    align-items: center;
}

.thankyou-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-10px);
    font-size: 2rem;
}

#thankyou-box {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: var(--primary);
    border-radius: 25px;
}