:root{
    --background: #fec7d7;
    --headline: #33272a;
    --text: #594a4e;
    accent-color: #ff8ba7;
    --button: #33272a;
    --button-text: #faeee7;
    --primary:#d9d4e7;
    --secondary:#a786df;
}

.header{
    background-color: var(--primary);
    border: var(--button);
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 99;
    }
    
    .h3{
        color: var(--headline)
    }
    
    .judul{
        display: flex;
        justify-content: center;
        margin-left: -10px;
    }
    .menu{
        display: flex;  
       align-items: center;
       margin-top: -30px;
       margin-bottom: -30px;
    }
#checkbox {
    display: none;
}
.hamburger {
    padding: 20px 20px;
    cursor: pointer;
    margin-bottom: 50px;
}

.line {
    width: 30px;
}

.line-main::before,
.line-main::after,
.line-split::before,
.line-split::after {
    content: '';
    position: absolute;
    width: inherit;
    height: 2px;
    background-color: var(--button);
    transition: transform .5s;
}

.line-main::before {
    transform: translateY(-7px);
}

.line-main::after {
    transform: translateY(7px);
}

.line-split::before,
.line-split::after {
    width: 20px;
    transition:
        transform .5s, opacity .5s;
}

.line-split::after {
    transform: translateX(10px);
}

#checkbox:checked~.line-main::before {
    transform: rotate(45deg);
}

#checkbox:checked~.line-main::after {
    transform: rotate(-45deg);
}

#checkbox:checked~.line-split::before {
    transform: translateX(-10px);
    opacity: 0;
}

#checkbox:checked~.line-split::after {
    transform: translateX(20px);
    opacity: 0;
}

.content{
    display: none;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin-top: 5px;
    border: var(--button);
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    margin-bottom: 20px;
    transition: 0.5s ease;
}

a{
    text-decoration: none;
    color: var(--headline);
}
.content:hover{
    background-color:var(--background) ;
    transition: 0.5s ease;
}
@media screen 
  and (min-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
.header{
    position: fixed;
}
.judul{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    margin-top: -5px;
}

.menu{
    display: none;
}

#c1{
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 16px;
}
#c2{
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 108px;
}
#c3{
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 205px;
}
  }