@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;700;900&display=swap');

:root{
    --background: #fec7d7;
    --headline: #33272a;
    --text: #594a4e;
    accent-color: #ff8ba7;
    --button: #33272a;
    --button-text: #faeee7;
    --primary:#d9d4e7;
    --secondary:#a786df;
}

h1 h2 h3{
    color: var(--headline);
}
p{
    color: var(--text);
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'google sans';
    scroll-behavior: smooth;
}

body{
background-image: linear-gradient(to right,#DD5E89, #f7bb97);
width: 100%;
}
.cover{
    
    background: url("assets/index/Main.jpg");
    padding:200px 0 200px 0;
    background-position: center;
    background-size: cover;
    filter: brightness(70%);
}

.cover h1{
    
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--button-text);
}
.span{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
}
.span img{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    border: #33272a;
    border-style: solid;
    transition: 0.5s ease;
    filter: brightness(30%);
}

.card div h3, p{
transform: translate(35px, -150px);
color: var(--button-text);
z-index: 99;
}

@media screen 
  and (min-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .cover h1{
    padding: 50px;
    backdrop-filter: blur(14px) saturate(171%);
    -webkit-backdrop-filter: blur(14px) saturate(171%);
    background-color: rgba(17, 25, 40, 0.71);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.span{
    display: flex;
    flex-flow:row ;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.span img{
    display: inline-flex;
    width: 300px;
    height: 200px;
    margin: 30px;
    border-radius: 20px;
    border: #33272a;
    border-style: solid;
    filter: none;
}


.card:hover img{
    transform: scale(130%);
    transition: 0.5s ease;
    position: relative;
    filter: brightness(30%);
}

.card div h3, p{
display: none;
transform: translate(35px, -150px);
color: var(--button-text);
z-index: 99;
}

.card:hover div h3{
    transform: translate(0px, -150px);
}
.card:hover div p{
    transform: translate(0px, -150px);
}

  }